<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="com.bnuz.aed.common.mapper.AedEquipmentMapper">

    <select id="findEquipmentById" resultType="com.bnuz.aed.entity.expand.AedOutput">
        SELECT * FROM AedEquipment e
        LEFT JOIN AedPosition p ON e.equipmentId = p.equipmentId
        WHERE e.equipmentId = #{equipmentId};
    </select>

    <select id="findAllEquipments" resultType="com.bnuz.aed.entity.expand.AedOutput">
        SELECT * FROM AedEquipment e
        LEFT JOIN AedPosition p ON e.equipmentId = p.equipmentId;
    </select>

</mapper>