<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bnuz.aed.common.mapper.AedPositionMapper">

    <select id="findPositionById" resultType="com.bnuz.aed.entity.base.AedPosition">
        SELECT * FROM AedPosition p WHERE p.equipmentId = #{equipmentId};
    </select>

    <update id="updateGeoPosition">
        UPDATE AedPosition SET longitude = #{newLongitude}, latitude = #{newLatitude} WHERE equipmentId = #{equipmentId};
    </update>

</mapper>
