<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bnuz.aed.common.mapper.AedSituationMapper">

    <select id="findAllRecords" resultType="com.bnuz.aed.entity.base.AedSituation">
        SELECT * FROM AedSituation;
    </select>

    <select id="findRecordsByEquipmentId" resultType="com.bnuz.aed.entity.base.AedSituation">
        SELECT * FROM AedSituation
        WHERE equipmentId = #{equipmentId};
    </select>

    <select id="findRecordsByInspectorId" resultType="com.bnuz.aed.entity.base.AedSituation">
        SELECT * FROM AedSituation
        WHERE inspectorId = #{inspectorId};
    </select>

    <insert id="insertRecordByObject" parameterType="com.bnuz.aed.entity.base.AedSituation">
        INSERT INTO
        AedSituation(equipmentId,inspectTime,inspectorId,recordContent,fuselage,electrode,validity,battery,available,useTimes)
        VALUES
        (#{equipmentId},#{inspectTime},#{inspectorId},#{recordContent},#{fuselage},#{electrode},#{validity},#{battery},#{available},#{useTimes});
    </insert>

    <select id="findRecordByRecordId" resultType="com.bnuz.aed.entity.base.AedSituation">
        SELECT * FROM AedSituation WHERE recordId = #{recordId};
    </select>

    <update id="updateRecordByObject" parameterType="com.bnuz.aed.entity.base.AedSituation">
        UPDATE AedSituation
        <set>
            <if test="equipmentId != null">equipmentId = #{equipmentId},</if>
            <if test="inspectTime != null">inspectTime = #{inspectTime},</if>
            <if test="inspectorId != null">inspectorId = #{inspectorId},</if>
            <if test="recordContent != null">recordContent = #{recordContent},</if>
            <if test="fuselage != null">fuselage = #{fuselage},</if>
            <if test="electrode != null">electrode = #{electrode},</if>
            <if test="validity != null">validity = #{validity},</if>
            <if test="battery != null">battery = #{battery},</if>
            <if test="available != null">available = #{available},</if>
            <if test="useTimes != null">useTimes = #{useTimes}</if>
        </set>
        WHERE recordId = #{recordId};
    </update>

    <delete id="deleteRecordByRecordI">
        DELETE FROM AedSituation WHERE recordId = #{recordId};
    </delete>

</mapper>