<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bnuz.aed.common.mapper.FeedbackMapper">

    <select id="findAllFeedbackByUserId" resultType="map">
        SELECT * FROM Feedback f
        LEFT JOIN FeedbackResult r ON f.feedbackId = r.feedbackId
        WHERE f.userId = #{userId};
    </select>

    <select id="sumFeedbacks" resultType="int">
        SELECT COUNT(*) FROM Feedback;
    </select>

    <select id="sumFeedbackResults" resultType="int">
        SELECT COUNT(*) FROM FeedbackResult;
    </select>

    <select id="findAllFeedbacks" resultType="map">
        SELECT * FROM Feedback f
        LEFT JOIN FeedbackResult r ON f.feedbackId = r.feedbackId;
    </select>

    <select id="findFeedbackById" resultType="map">
        SELECT * FROM Feedback f
        LEFT JOIN FeedbackResult r ON f.feedbackId = r.feedbackId
        WHERE f.feedbackId = #{feedbackId};
    </select>

    <insert id="insertFeedback" parameterType="com.bnuz.aed.entity.base.Feedback">
        INSERT INTO
        Feedback(feedbackContent, userId, feedbackStars, picture, feedbackTime)
        VALUES (#{feedbackContent}, #{userId}, #{feedbackStars}, #{picture}, #{feedbackTime});
    </insert>

    <insert id="insertFeedbackResult" parameterType="com.bnuz.aed.entity.base.FeedbackResult">
        INSERT INTO
        FeedbackResult(feedbackId, result, managerId, resultTime)
        VALUES (#{feedbackId}, #{result}, #{managerId}, #{resultTime});
    </insert>

    <delete id="deleteFeedback">
        DELETE FROM Feedback WHERE feedbackId = #{feedbackId};
    </delete>

    <delete id="deleteFeedbackResult">
        DELETE FROM FeedbackResult WHERE feedbackId = #{feedbackId};
    </delete>

</mapper>