<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bnuz.aed.common.mapper.MaterialMapper">

    <select id="findMaterialsByAid" resultType="com.bnuz.aed.entity.base.Material">
        SELECT * FROM Material WHERE auditId = #{auditId};
    </select>

    <select id="findPictureByAid" resultType="String">
        SELECT picture FROM Material WHERE auditId = #{auditId};
    </select>

    <insert id="insertMaterial" parameterType="com.bnuz.aed.entity.base.Material">
        INSERT INTO
        Material (auditId, materialContent, picture)
        VALUES (#{auditId}, #{materialContent}, #{picture});
    </insert>

    <update id="updateMaterial" parameterType="com.bnuz.aed.entity.base.Material">
        UPDATE Material
        <set>
            <if test="materialContent != null">materialContent = #{materialContent},</if>
            <if test="picture != null">picture = #{picture}</if>
        </set>
        WHERE auditId = #{auditId};
    </update>

    <delete id="deleteMaterial">
        DELETE FROM Material WHERE auditId = #{auditId};
    </delete>

</mapper>